@model Pedido;
@{
    ViewData["Title"] = "Resumo";
}
<h3>Resumo do Pedido</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Nro do pedido: @(Model.Id)</h3>
            </div>
        </div>
        @foreach (var item in Model.Itens)
        {
            <div class="row">
                <div class="col-md-10">
                    <div>@item.Produto.Nome</div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">Quantidade: @item.Quantidade</div>
                </div>
            </div>
        }
    </div>
</div>
